{% load static %}
<footer class="bg-success">
    <section class="container social">
        <div class="col-12 d-flex justify-content-between py-2">
            <img src="{% static 'img/favicon.jpg' %}" alt="">
            <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
                <div class="container-fluid">
                    <ul class="navbar-nav fw-semibold">
                        <li class="nav-item">
                            <a class="nav-link text-light py-0" href="#">Instagram</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light py-0" href="#">Whatsapp</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="py-3 row">
            <ul class="text-light py-0 col-12 col-lg-4">
                <address>
                    <h3>Endereço</h3>
                    <li class="list-group-item">
                        <a href="#" class="nav-link text-light">Almégegas, Trairí</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="nav-link text-light">CE - 62690-000</a>
                    </li>
                </address>
                <address>
                    <h3 class="mt-3 mb-2">Emails</h3>
                    <li class="list-group-item">
                        <a href="#" class="nav-link text-light">email@email.com</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="nav-link text-light">gmail@exemplo.com</a>
                    </li>
                </address>
            </ul>
            <article class="col-12 col-lg-8">
                <iframe style="height: 30vh;" class="col-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.0629333457605!2d-39.1823888853257!3d-3.334628697572498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c10528b3e4a92f%3A0x4faca0ed243be5a9!2sDel%C3%ADcias%20da%20Nana!5e0!3m2!1spt-BR!2sbr!4v1679659520588!5m2!1spt-BR!2sbr"></iframe>
            </article>
        </div>
    </section>
</footer>