{% extends 'partials/_base.html' %}
{% load static %}
{% block title %}Página inicial{% endblock title %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&display=swap" rel="stylesheet">
{% endblock links %}
{% block content %}
<main class="main-index">
    <section class="presentation">
        <div class="container text-center py-2 text-light">
            <h4 class="text-danger fs-4 pacifico fw-semibold mt-3">Welcome to</h4>
            <h1 class="display-1 fw-semibold parisienne">Delícias da Nana</h1>
            <h2 class="fs-1 fw-semibold parisienne mt-5">"Aqui vai uma frase motivadora ou o lema da empresa"</h2>
        </div>
    </section>
</main>
{% endblock content %}
